monitor_wrapper =   $command
monitor_specrun_wrapper =   $command
ignore_errors = yes
tune          = base
ext           = asan-o0
output_format = asc
reportable    = 1
teeout        = yes
teerunout     = yes
strict_rundir_verify = 0
makeflags = -j4

default=default=default=default:
CC  = clang-3.5 -fsanitize=address -mllvm -asan-instrumentation-with-call-threshold=0 -std=gnu89 -m64
CXX = clang++-3.5 -fsanitize=address -mllvm -asan-instrumentation-with-call-threshold=0 -std=c++03 -m64
EXTRA_LIBS =
FC         = echo

default=base=default=default:
COPTIMIZE   = -O0
CXXOPTIMIZE = -O0

default=base=default=default:
PORTABILITY = -DSPEC_CPU_LP64

400.perlbench=default=default=default:
CPORTABILITY= -DSPEC_CPU_LINUX_X64

401.bzip2=default=default=default:
CPORTABILITY= -Wno-int-conversion

462.libquantum=default=default=default:
CPORTABILITY= -DSPEC_CPU_LINUX

483.xalancbmk=default=default=default:
CXXPORTABILITY= -DSPEC_CPU_LINUX -include string.h

447.dealII=default=default=default:
CXXPORTABILITY= -include cstring -include cstdlib -include cstddef

__MD5__
401.bzip2=base=asan-o0=default:
# Last updated Tue Dec 27 17:43:57 2022
optmd5=e4a6bf0eae6d7d2514311ab9ee2f24c2
baggage=
compile_options=\
@eNq9UctOwzAQvOcrVrlvFYmHACmH1i0o4GKLJkJwqawkNJEcG8Vukfh6NqEqCSBuZQ8+eHZ2Z2eY\
WMoryLUyGzyZnAG+OGVqX7+XsSqKtnQOsNF61wAqQrA2zrfbpjRe+doafKt9hbnSGn1F3ZXVRRwB\
Ol/EG7O9uCT2+SlgDmjBvnYUN7GA85VcsDWTGezr62fNZcd4NJaWecyt2ZWtIyIMCkVEb0DSGYvD\
I8sP+z1iditkGoejWz4hKR7S6SzhSfpE+E/lYSC6ATJNlsnzglpEtCdm13x6s6Kfw/k9MB44tiYM\
eHJ/d/zMBkZ/D2cYxMGKTjef/0MYv3v5t2W9NpF18Q2y+wAOduxp
exemd5=2a7b4f4d983f9fa08b2bef90ae8fe10c

403.gcc=base=asan-o0=default:
# Last updated Tue Dec 27 17:44:11 2022
optmd5=ddde3c6dccb7aac76fd0e69de6282cd3
baggage=
compile_options=\
@eNq9kU9PhDAQxe98iknvQzbxT9SEA3TRrZZt48JBL6QBXEgKmKWriZ/elo0sJhtv6xx6mDcvffMb\
KhJ5B4VW3RYv/CvAt0F1jWm+qkCV5a4aBsBW648WUFkFm24wu31bdUaZpu/wszE1FkprNLWdrntd\
BgvAwZTBttvf3Fr39SVgAdhD/+4sg98DLjcypjmVGQAg88HVsZlzaU3zQrGwr2ejUhqQM8cl4z8i\
ehQyDciv7MQTTpIpS9hrbEWxOEzL7J6HDxvbmbYYhShe01X+ozF/bErxnIYR4yx9mRvGtYnH2frp\
/CeZcT0BHnU7oZ+Wd9H58h/wn2b8NzU7kITpKucscqR1Sw5xReZuODvgN5B15KM=
exemd5=7251d76345263391b9841d5102a25537

429.mcf=base=asan-o0=default:
# Last updated Tue Dec 27 17:44:13 2022
optmd5=195141518d6d35069bb5d78a6398a1fa
baggage=
compile_options=\
@eNq9UU1PhDAUvPMrGu5vQ+JH1IQDFHSrQJulxOilaQAXkgJm6Wrir7ewuyyajbe1hx7ezLTzZjCN\
2R3KlWzXcLG4QvDWy7bW9VfpyqLYlH2PoFHqo0EgDQJ12+vNtilbLXXdtfBZ6wpyqRToyrCrThWu\
g6DXhbtutze3Rn19iSBH0KHufZD0iw5BkLIQC8wytD/HiYiYURymz17CRcoDLNiKcrofU8fcljGO\
sWuf2bw9/kP9R8q4a//YZIT8MMFLge8j7yE1+G/HtkUHOeMkJq+hIVBn9yLLJslh9RFgdMU9n0SE\
v8yxMRbbikjydP6+ZjGfKAZUM9U2ZTFYj4J/aON0nH+nZgixx5ciIv4QuGrsnV2aDZXO+vwGQPvt\
9A==
exemd5=92ead2822773646ef854a54a3ec9b124

445.gobmk=base=asan-o0=default:
# Last updated Tue Dec 27 17:44:17 2022
optmd5=ee3093ec0b1d91c525ac2b54105e715d
baggage=
compile_options=\
@eNq9kd9rgzAQx9/9Kw7fzxX2g23gg6a2ZrMmrHawvYioq0KMo8YN9tcvUSoOymAPXSBHku/d5e4+\
hG34PeQik3u8dK4B37pM1qr+Kt2sKA5l1wE2Qnw0gJlWsJadOvRNKVWm6lbiZ60qzDMhUFXau2pF\
4S4AO1W4e9nf3unomyvAHLCF9t2EdE4LuNzygKSE7wD0JfSeg5SweEXXaQhIHbNHc1HLXPRFaS7T\
GYaoY4o04vqL+UK20NbSjRHi2mduzh7+Yf4D44lr/+jUtpiReEI39DXQIluM3ny3irz1Vr9MXQyC\
H8QkTCftj3MZUnD2lHg+jWjyMk8/DMm2Iho/nh/3jMIJTCiaCdQ0KlN6tPwHWKeJ/D417bDxkjCN\
qG+4iMYey2U7Q3yG+xtXHP8h
exemd5=f5e6f775aac40734200c0d1bdcf59e73

456.hmmer=base=asan-o0=default:
# Last updated Tue Dec 27 17:44:21 2022
optmd5=79afecddcb81c399608178c73e9bdb5c
baggage=
compile_options=\
@eNq9kU9LxDAQxe/9FCH3WQr+QYUe2uyq0dQEtz3opYS2bgtpIpusgp/epCvdCou3dQ45zJsh7/2G\
8FzcoFpJvYGzxQWCNyt17/qvNpFNs22tRTAo9TEgkF6BXlu33Q2tdtL1RsNn7zqopVLgOj/dGdUk\
MQLrmmSjd1fXfvvyHEGNwCDzHlbswiBYrsWKVESU6KcOnYoJvzEv4LF/I++TkASf2Cse/+HZAxdF\
gn8ZxxEPkihoTl9XXuTxflqUtyy9W/vOlGIUBH8u0owyWrzMtTEhjhh9ejw9+hnCI4xBDRPlKWew\
zpb/QPo4zr+p+YE8Le4rRrMAXA14b5eX4VyzW30DCY7e+g==
exemd5=c4a38bc10aba4d5d133f3fc8820f09a3

458.sjeng=base=asan-o0=default:
# Last updated Tue Dec 27 17:44:23 2022
optmd5=1dc0c2ec921002afc6d7fb875a5c080a
baggage=
compile_options=\
@eNq9kU9LAzEQxe/7KYbcpyz4BxVyaNMq0dQEu3vQSwm7azeQTaRJFfz0ZlexW5De6hxymDdD3vsN\
k0t1A5XVboNnkwvA16Cdieazobqut00IgJ217x2gTgoaF+J21zUu6mi8ww8TW6y0tRjbNN16W9Mc\
MMSabtzu6jptX54DVoAe/Fu/EiYecL5SC7ZmqoSf2nfWQqWNcaHM05sln4xRcmKvZPhHzu6lKig5\
ME4y2Uuq4Ev+skiizL+nVXkrpner1PlNMQhKPhXTGRe8eB5rQ0KSCf74cHr0I4RHGO9D9r7F/B8w\
/83yOLLBmyz7w4yu8gUUaNkG
exemd5=3ee6a7439e0d4b2406438b96d1c61d16

462.libquantum=base=asan-o0=default:
# Last updated Tue Dec 27 17:44:24 2022
optmd5=042f52c83a8f4b543d41df076d905b75
baggage=
compile_options=\
@eNq9UV1LwzAUfd+vuPT9joIfqJCHNpsabU1wKagvI7R1LaSpLJmCv95kG1sd6tu8D4Hcc8/NyTmU\
5+IKSq3MAk/GZ4CvVpnWtZ81UVW1rK0F7LR+7wCVR7A11i1XXW2ccm1v8KN1DZZKa3SNn256XZEY\
0LqKLMzq4tKzz08BS8Ae+rdAseMecDITUzqnooBt7TvzTATG4M4eiicYFPLYnyOvm1ISHVl7tH6H\
p3dcSBJ9+8gGEvxRJinLmHz2+IHsaMQDW0iWs5epx3m8ZRXXWXIzGzLWwK/bRJDid94fP62By4ex\
hL7udkHsrAjSs8k/hPGznX+75gfyRN76RNJguO6ijVxehEQHcX4BiH3taQ==
exemd5=c730c12bfc38105fdf919b85d6b78b76

464.h264ref=base=asan-o0=default:
# Last updated Tue Dec 27 17:44:27 2022
optmd5=7d8702e1353de33d1362ee063f8c824e
baggage=
compile_options=\
@eNq9kU9LxDAQxe/9FCH3WQr+QYUe2uyq0dQEtz3opYS2bgtpIpusgp/epCvdCou3dQ45zJsh7/2G\
8FzcoFpJvYGzxQWCNyt17/qvNpFNs22tRTAo9TEgkF6BXlu33Q2tdtL1RsNn7zqopVLgOj/dGdUk\
MQLrmmSjd1fXfvvyHEGNwCDzHlbswiBYrsWKVESU6KcOnYoJvzEv4LF/I++TkASf2Cse/+HZAxdF\
gn8ZxxEPkihoTl9XXuTxflqUtyy9W/vOlGIUBH8u0owyWrzMtTEhjhh9ejw9+hnCI4xBDRPlKWew\
zpb/QPo4zr+p+YE8Le4rRrMAXA14b5eX4VyzW30DCY7e+g==
exemd5=553a53b5a8ee9851b6189da8ae67b979

433.milc=base=asan-o0=default:
# Last updated Tue Dec 27 17:44:31 2022
optmd5=49d1865f35473c3b526482d64c8aedfb
baggage=
compile_options=\
@eNq9kU1rg0AQhu/5FYP3CYF+0BY86GoSW3WX7FpoLyLRJsKqJW5a6K/vrKGphdBDId3DLMw7s7Pz\
Pown4g7Wumg3eDG9Anzpi7Y29UflFmW5q/oesNH6rQEsSMG67c1u31StKUzdtfhemy2uC63RbKl6\
2+nSnQH2pnQ37f7mlrqvLwHXgB10r7aln3aAgRQhy5nIAACjKSXmqQ2eVHQxni5WXpCrROSPIVN8\
JSkbyNiTyyEZR+mDBHu+X8pjQZPGB/mM4oT2Y8x1zryjM8zh/j0XynV+LOxMuJWEipLoOSSRzw7V\
IpvH3kJS5rjFIPhhypb5l/ZHe4aXBF8pz4/iSD2NpwxeORNbd374IxgnaKFujryOjtmvx8E/MDsN\
5nfXqCDx1JJc9i0e3TiH7/LMgh9R/wT7qgJC
exemd5=a131874726a89c697f72611c638bff02

470.lbm=base=asan-o0=default:
# Last updated Tue Dec 27 17:44:32 2022
optmd5=71e909af931f38433d5a40ef1ae294f3
baggage=
compile_options=\
@eNq9kU9LxDAQxe/9FCH3WQr+QYUe2uyq0dQEtz3opYS2bgtpIpusgp/epCvdCou3dQ45zJsh7/2G\
8FzcoFpJvYGzxQWCNyt17/qvNpFNs22tRTAo9TEgkF6BXlu33Q2tdtL1RsNn7zqopVLgOj/dGdUk\
MQLrmmSjd1fXfvvyHEGNwCDzHlbswiBYrsWKVESU6KcOnYoJvzEv4LF/I++TkASf2Cse/+HZAxdF\
gn8ZxxEPkihoTl9XXuTxflqUtyy9W/vOlGIUBH8u0owyWrzMtTEhjhh9ejw9+hnCI4xBDRPlKWew\
zpb/QPo4zr+p+YE8Le4rRrMAXA14b5eX4VyzW30DCY7e+g==
exemd5=061aeefa880d605e242ca4578fdb23e2

482.sphinx3=base=asan-o0=default:
# Last updated Tue Dec 27 17:44:35 2022
optmd5=1ab50bc89672afd8dda96bb759fad543
baggage=
compile_options=\
@eNq9kU1PhDAQhu/7KybcZ0PiR9SEAxR2qQJtXNZELwQBd5sUMNuiib/eAhEx2Zh4WOfQw7zvTGfm\
ISzmN1DIvNnh2fIC8EXljdDio3LysjxUSgHWUr7VgLlRUDRKH7q6anSuRdvgu9B7LHIpUe+Ne9/K\
0rEBlS6dXdNdXZvqy3PAArCF9rUvUcsW0N/wgGSEbwEA6XKeQD90H4KMsGRF11k4ylSK504LCUN8\
u7OIm/bzQGabd2GWIsSxTryYNfzDvFvGU8f6saW1YL3EUxrTp8CIzB7dfLuK3PXGZKYtBsELEhJm\
X9pfbjKUc3afuh6NaPo4bz0cyFpENLk7PeYZgSOIUNYTpOlM/eiR/w+gjtP4/WrGELtpmEXU65nI\
2hrHZdue9gz1J7vX/Gk=
exemd5=3a31502f74aea4fe70e75ca4438fc3e9

473.astar=base=asan-o0=default:
# Last updated Tue Dec 27 17:44:37 2022
optmd5=ebf35bce82837cec7aaa762cbe6b0379
baggage=
compile_options=\
@eNq9kU9PhDAQxe/7KSZcyWxIVj2YcICCWu3SxoVk9UIaQCEpYLZVEz+9hVWy+O/mHju/memb9whf\
i3MolOweXRdXy1PABy27xjRvlS/LcldpDdgq9dICSkuw6bTZPbdVZ6Rp+g5fG1NjIZVCU9vuulel\
7wFqU/qF63orO312AlgA9tA/DSN62QNGGxGTnIgM4OCRM5qmLM7jJKJBAvAFCrtprHEPFlY32W6J\
7/y7eufjLx5ec5H6zuwYZ8H3UKR0Te9ji7m3nxDZBQsuN7Yy3TCCME7IVf6NzY8fOwW/TYOQWnA3\
7xSDKkaTm2OEB5PpP6bxySdLBuUsOkowv3n/t3GjPp4NUR7k+A73/Ov/
exemd5=7bbd3809bd5b692a060a0d4ea48130a8

483.xalancbmk=base=asan-o0=default:
# Last updated Tue Dec 27 17:45:45 2022
optmd5=0a41748217706967ccc755a80ec99d97
baggage=
compile_options=\
@eNrtVE1v2yAYvvdXoFwjkqjtdpjkA7FZSocNMrjyekEIe4klf1TG6br9+mEnTtxO3U7LaUiW3q8H\
8Ps8Lz4L+SdgSl1v53N4s/gA4Der66IrfuaezrI2txbAqiyfKwC1y8Citl27r/K6013R1PB70e2g\
0WUJu52r3jVl5q0AtF3mmfl8dePQH28BNAA2oHnqIXbRABgIjn3l8wQc1zmiKO8RE59ESQrcyabc\
Zzlw5xf1drHrMVGA18nGGYhzFTEl72KMAuECKaIoUiQKcahCsVGUoQDHAJKF+17y1uTWnK1l1lSv\
vWVRPZWTkNUvE2/fFeUytFva6Cxv7ZLUYV417Y+3JbLVtTXNocY09XNfoF27zXL8HRjwmN2rNKQc\
xaK/4imQSEJH95AUoytQeutPnOvRDlg4mg+IkgBJNqDcdioRWEVIkgesZIwi4bOhJafcsVtYCLTB\
Y8NOWT42F0C2AldON36a+t7sn6tndjyLre8Zl97slZjGJGexRGtCifzqKv4qngG2xpF/pxz4M0Ub\
0cP+6+nyeppdsQO9XJKQPGLHA1sdaOXJiZmR0CHxLtm8V4uj/MslHrXjw+WG4bfXa7LOUu1vToOL\
DMx7Hf1z44b7saQfscl8/QIKXeZo
exemd5=c568eaf2625a3f7bd7a6be8f51c3cb06

444.namd=base=asan-o0=default:
# Last updated Tue Dec 27 17:45:49 2022
optmd5=fb897080bf4bed454313ec4aeeb1d79d
baggage=
compile_options=\
@eNq9kVFLwzAUhd/7Ky59LXcUpj4IfdiyTaKZCa6FuZcR2moDaSJLVPDXm3azm6C+uTzecw8557uE\
L8U1lFqa5yTB8egS8MlJo7z6qDNZVbvaOcBW67cWUAYFlXF+99rWxkuvrMF35Rsspdbom7DdWF1l\
KaDzVVYmSToO7qsLwBLQgn3pLG5kAWcrMSdbIgo4vONky0Rw9DOeQhTykfWaZPG/p4wPf/HpLRd5\
Fn8LHUd8L4qcLulmHmSe7h2iWLDJzSpMhg69IPhDPplSRvPHU63vF0eM3t+dAz0MKH9k/KUPRbvk\
bHYW3L8R/Rtcn48X3YFOrvMJSODZYg==
exemd5=d4694b337b9d926e00084e3dfac96fcc

447.dealII=base=asan-o0=default:
# Last updated Tue Dec 27 17:46:19 2022
optmd5=e2d66cddf7f401f6197bc5d9e38ded48
baggage=
compile_options=\
@eNq9Uk1PwkAQvfMrNr02Q5qgHkx6oAV1tbAbaRP00qzdApssW8MumvjrnUILNEYSDzLH+Xjz5s2L\
2YTfkkILs/R9GPSvCSysMMqprzIUUm5Kawmstf5YExBYAWWs22zXpXHCqcrAp3IrKITW4FbYvaq0\
DAMC1smw8P1ggNM3VwQKAhWp3usR268IjGZ8HOcxz0gTx0ye8HpCmUJvZUkK3KfMspOQWr11E7Jc\
IAZtUzCSpdA5pblUyNXi2nCADSwgPTw4ns/j0Pv3s71mF4seGU9Dr6NCW+TsOR1GNKHpC3b8+eod\
TDSexg85gt0lw/sZwpwXwuuxPS+e0gl9HeMAC/Z8eNZCHP6xK3RZdn/l9RI6fbqEjRqr4Bd/+OUk\
jhrXzJPRRT79m6LnhdvxY1ntjRNjfAPjRx9s
exemd5=4cf2b3671df439b7dd3f2638354fdbb1

450.soplex=base=asan-o0=default:
# Last updated Tue Dec 27 17:46:29 2022
optmd5=5cf34a445af2c6517c96f153638fe43e
baggage=
compile_options=\
@eNq9kUFPhDAQhe/8ikmvZDYkqx5MOCwFV5SljQvJ6oU0gEJSwGyrJv56S3HJbqLe3OPM15e+eY+y\
Db+GUor+xXVxubgEfFaib3X7Wfuiqva1UoCdlO8doDAE217p/VtX91rodujxo9UNlkJK1I153Qyy\
8j1ApSu/dF1vadRXF4Al4ADD6yhRiwEw3PKIFpTnAGZIwyjI1wB2OJAi4UZpd8wDx/ikux31yb+7\
Jd9/seCO8cwnJ+aJwybIs3gTP0UGM29S8PwmWa23ZjPfYEEQpfS2mNl0rCWcPWSrIE7i7PFYZS8n\
ThKn9+coB+aQf0z/wOcIRudJeJYifsv67+CsP5aP1R319gVPLeIP
exemd5=535745f04bd4a17de6afb32539b2be86

453.povray=base=asan-o0=default:
# Last updated Tue Dec 27 17:46:38 2022
optmd5=3483e461f189b3aff6c8ecb71e3e2440
baggage=
compile_options=\
@eNq9kVFLwzAUhd/7Ky59LXcUpj4IfdiyTaKZCa6FuZcR2moDaSJLVPDXm3azm6C+uTzecw8557uE\
L8U1lFqa5yTB8egS8MlJo7z6qDNZVbvaOcBW67cWUAYFlXF+99rWxkuvrMF35Rsspdbom7DdWF1l\
KaDzVVYmSToO7qsLwBLQgn3pLG5kAWcrMSdbIgo4vONky0Rw9DOeQhTykfWaZPG/p4wPf/HpLRd5\
Fn8LHUd8L4qcLulmHmSe7h2iWLDJzSpMhg69IPhDPplSRvPHU63vF0eM3t+dAz0MKH9k/KUPRbvk\
bHYW3L8R/Rtcn48X3YFOrvMJSODZYg==
exemd5=32f8abbb135d8a4ac93a5753af5f213c

400.perlbench=base=asan-o0=default:
# Last updated Wed Dec 28 12:22:36 2022
optmd5=74661ca00370f5757656b7b2ba7e294d
baggage=
compile_options=\
@eNq9UV1PgzAUfd+vuOH9LiR+RE14gA4dCmvDIJm+kAZwkJRi1k4Tf70tU4Jm+jb70OT23NNz7zmE\
JuwGSsHlFs/mF4DPistWt++1x6tqVysF2Anx2gFyg2Arld7tu1pqrtte4lurGyy5EKgb0930ovJc\
QKUrbyv3V9eGfXkOWAL20L9Yipr3gIs1C0lBWA5gChamcUFoGgIM9RdYxMySJ3W0yjfFxjxODlLX\
3DOzBiGec+JVnEGHBveUZZ7zba8DxGia+UEUR9mjwY+M7syo/YFlURI9haaHup/M/Db279ZT1gAE\
4YosixEbzRrAX+WYVTKiD6dPdxLDz+zsu+jGpEav7Ojx4h/SOu71366ZhsTPliaywDouOucwLs1t\
5JO8PwDe+fpk
exemd5=575dab03f77b913b8a21156d6cd0da89

471.omnetpp=base=asan-o0=default:
# Last updated Thu Dec 29 13:18:35 2022
optmd5=200c08b005ea6631fb39b8c2c251aefa
baggage=
compile_options=\
@eNq9UU1Pg0AQvfMrJlzJIKbqwYRD+bCilN20kFQvBAFlk2Ux7LYm/noXaklN1Hixhz3MvHmz897z\
yZJeQ8kL8WJZOLMvAZ9lIZhi77VbVFVfSwnYcr5rAQuNIBNS9du2FqpQrBP4xlSDZcE5qkZPNx2v\
XAdQqsotLcuZafbVBWAJ2EH3OlCk3QEGaxr6uU8zAF0kQehlC/ccMLL161pRq5yJkm+rWtecPcmz\
WuxYDzDOH8h5TPXysUccMLQUf7PxXfPfBZmffxHvjtDUNb/oMw2yB2kaLaPHUMPE2TNodhPPF2vd\
mTSMgBcm/m0+YX/2YyRTskrnXhRH6cPx4tEc04ij5P4UEcOUw7cBHfDJpeHyODhJVj/F8btx430k\
G9I9ivYDO0P5kQ==
exemd5=3dcf4e8bb818092246adb60a6d610738

