monitor_wrapper =   $command
monitor_specrun_wrapper =   $command
ignore_errors = yes
tune          = base
ext           = wrapper-movec-o0
output_format = asc
reportable    = 1
teeout        = yes
teerunout     = yes
strict_rundir_verify = 0
makeflags = -j4

default=default=default=default:
CC  = ${HOME}/code/compiler-wrapper/wrapper.sh    -std=gnu89 -m64
CXX = ${HOME}/code/softboundcets-34/softboundcets-llvm-clang34/Release/bin/clang++  -m64
EXTRA_LIBS =
FC         = echo

default=base=default=default:
COPTIMIZE   = -O0
CXXOPTIMIZE = -O0

default=base=default=default:
PORTABILITY = -DSPEC_CPU_LP64

400.perlbench=default=default=default:
CPORTABILITY= -DSPEC_CPU_LINUX_X64

462.libquantum=default=default=default:
CPORTABILITY= -DSPEC_CPU_LINUX

483.xalancbmk=default=default=default:
CXXPORTABILITY= -DSPEC_CPU_LINUX -include string.h

447.dealII=default=default=default:
CXXPORTABILITY= -include cstring -include cstdlib -include cstddef

__MD5__
400.perlbench=base=movec-o0=default:
# Last updated Thu Sep  9 22:15:24 2021
optmd5=ac5374b627b2853c1bcfd060490de72d
baggage=
compile_options=\
@eNq9UdFOgzAUfd9XNLxXlrgYNeEBCjoU1oZBsu2FdKXOJS01wvx+b5lpcJk+ch+a9J57envOITRn\
j8h/N1r6gvdc80/e+sI00u/MW783p7YRsu/w7eKiodSXxkLx9gBQIZXknfT3RyDbHoLCXd8Eh/Z0\
/4CwvlsgLBA2yHz0R9N2NwbheM0SUhNW2eGYJUVWE1okaCA7sM6YJY/u6ara1BtojgrTOZwzEENI\
4E0iyBu20eiFsjLwfqk7Q4wWZRilWVpuAb8iwJtR+wIr0zzdJTBD5z/M6ikLn9dj1gBEyYosa4c5\
ywbwz3XMboKlr1MlPYrkMkfbV9ql5hyzArJ4suSu+/6/gzCQh+US4ous+0p750/TysY/yv4bPtYB\
Ww==
exemd5=7791175d63b2aa5ac812b21a00ad906f

401.bzip2=base=movec-o0=default:
# Last updated Thu Sep  9 22:15:24 2021
optmd5=152a3f9b43e4e791920ef7bd8ecd540b
baggage=
compile_options=\
@eNq9UU1vwiAYvvdXEO4ME82ymfSg+BE2FGLbg14MUnQmLSwD9/uFuqx1WTz2PXB4nvcNzwfhKzEG\
+MPWGivpZS2/pMHKlho7e/QHezGl0t6h4egPUFXfNVKVNKdAbXSlpdP4cA7HEQNhkPNlejKXl1eA\
6ucRQAogC+ynP1vjnixAs0zMyZ6IAvxMi+yZCBfdQXwQ3iSoJSSFvSiGzW98+sZFnsI7+TDhkRI5\
XdHdPJB8cNsWxYJNlllAfr00hOCbfDKljObbLtf4hAmj6/e+aujE+SDv1mpUz2a9Rf5/ro/jaxTy\
IpbUaegKOxvf7g==
exemd5=8e28c84138f75d8c14563165602d4e52

403.gcc=base=movec-o0=default:
# Last updated Thu Sep  9 22:15:27 2021
optmd5=63428dd90ce5a9aae157b6326e1a2bf2
baggage=
compile_options=\
@eNq9UbFOwzAU3PMVlncnlagQIGVI3EANTm21yQBL5DqmVLJjhFO+HzsVUYoqxrzBw907+d0dZiV/\
AMmHNSqRohdGfIkukbZVibPv/d6eulaq3qGb5R9A62+DpBbdwVNbpZVwKtkfvThgwA9yfZseutPd\
PUDmdgmQBMgC+9kfbediC9BqxwvcYF6HZRKDQTSCDeVeNB3EFv6N/MEYp3CWo+HwG8ufGa9SeOEA\
RixQvCIleSs8yRbnbV4/0uxp55HRy0DkxQavm1+OxAPI2bbKckJJ9ToVDOZhRMnmZa56JhlfKQFp\
M9YwRhAM0NVsVVzP+/8E/UKZVeuGkjykrg08H83q0OekzB/lk+uL
exemd5=2a2695e70ea3a03a14d785f916c7460e

429.mcf=base=movec-o0=default:
# Last updated Thu Sep  9 22:15:27 2021
optmd5=7d263ed359f3b9bde0836c65340f149e
baggage=
compile_options=\
@eNq9UdFOgzAUfd9XNH2vLHExasIDFHTVQhsoMfrSdFDnkkKNML/fwjbEZfGR+9CHc+7pvfcczBJ+\
D7wPW2uvVJ2q1ZdqvNJW2mvte7ex+6Yqddei69UZYMx3jUqjmq2jMm20arW32TlxjwFXqO0qf9vs\
b+8Aqm9WAJUAWWA/u51t2isLUJTzGEvMC3CsX0RS7hQn9CVIhcxFhCXPmGBHmC3du3DrY+zDWU6A\
wzQWPjEufPjnnoEK4xSvJX6gwWPu+PO94YL1ci5IQt5i18CWhx95MUpOBgwEZ5kIQkKJeJ1ygzlw\
QUn6PFd2E8svhIRMPUY4OtIfQKPZkrls7f8OuoYkEGtJSdibb2p4WJoVfbyTbH8AbRb03A==
exemd5=8345f4a5d5193312ba5e0a38059dfa57

445.gobmk=base=movec-o0=default:
# Last updated Thu Sep  9 22:15:29 2021
optmd5=a6213e2be753c74982d28068a254afd7
baggage=
compile_options=\
@eNq9kcFqhDAQhu8+Rcg9m4UupS140OiuadWEXS20F3E13QrRlKp9/iYKwZal0IuBBJ1/MpN/PsIS\
/gDwu2oFrsqhbMvPssOVqgXu1dtwVmNXV2Lo0c3uV0DKrxZVsuwuWjoKKcpe4HOjL5sY0Av1Q+1e\
uvHuHqD2dgdQBZAC6mNoVNdvFEDBiYekIDw3yUHkPYcFYemeHooIILoxez5w01VyrIX5sd9TC1ui\
iLlusVyIbfXpaHuEuHAVi3DqxvxHxjMX/vALHWYkntGEvoZaZNs5m+f72DucdMR6mQQ/TElUWO2f\
05lKcHbMPJ/GNHtZlp9GBZ2Ypk9roV8QuYIMydZCswMzBuJgNXDX6fw9QZ2QeFlUxNQ3jGQL50ez\
3NBfoP8GKA0GGA==
exemd5=d6dd968121f0d22953ca49f4658741e6

456.hmmer=base=movec-o0=default:
# Last updated Thu Sep  9 22:15:29 2021
optmd5=5fab820bdc166f58171c57e588374b67
baggage=
compile_options=\
@eNq9UbtOwzAU3fMVlneTSq0QIGVI3AIGB1ttMtAlch1TKvmBsMv346QoDahizB08nHOvfB6YlfwO\
pO/OqFSKIIz4FDaVrlWpd29h5462lSp4NF/8AbT+MkhqYfeRWiuthFfp7hCPOwzEQT602d4eb24B\
MtcLgCRADriPcHDWXzmAlhu+wg3mNfiZM9JQHi/Gg9gsvklUi3EGJ1EM+99Y8cR4lcFf8mHCOopX\
pCTbVSTZ7LTN63uaP2wiMnjpCc7WVV4QSqrXMdf7hAklL89T1TCK80LeSJsh8cFtZ4AuJ0v9crT/\
JxgXyrx6bCgpuvC1gSfRrO6qG/X2Dckn5eI=
exemd5=55b572aae8ab9cf3218c08d16d2bdc6e

458.sjeng=base=movec-o0=default:
# Last updated Thu Sep  9 22:15:30 2021
optmd5=6398e33e6b9bce6e4e92e8ef56ed4bbc
baggage=
compile_options=\
@eNq9UU1vwiAYvvdXEO4ME82ymfSg+BE2FGLbg14MUnQmLSwD9/uFuqx1WTz2PXB4nvcNzwfhKzEG\
+MPWGivpZS2/pMHKlho7e/QHezGl0t6h4egPUFXfNVKVNKdAbXSlpdP4cA7HEQNhkPNlejKXl1eA\
6ucRQAogC+ynP1vjnixAs0zMyZ6IAvxMi+yZCBfdQXwQ3iSoJSSFvSiGzW98+sZFnsI7+TDhkRI5\
XdHdPJB8cNsWxYJNlllAfr00hOCbfDKljObbLtf4hAmj6/e+aujE+SDv1mpUz2a9Rf5/ro/jaxTy\
IpbUaegKOxvf7g==
exemd5=b192013990e247f13f975bc8b2542848

462.libquantum=base=movec-o0=default:
# Last updated Thu Sep  9 22:15:30 2021
optmd5=9b2e9f6d3ecfbdb02cb61f627dc9cfae
baggage=
compile_options=\
@eNq9UU1PAyEUvPdXkL0jTdoYNdnDLq2K7gppd5PqpaEs1iZ8GKH+fqFtKm7U474DCTPM470ZTGt2\
A9Cb1RIJ7rnmH9wgYTuJnH31G7s3nZDewcm0Byj1qaFQ3GwDtZBKcifRZhfEEQOhoPNdvjX7q2sA\
9eUUQAGgBfbd76xxFxbA2ZLN8RqzFpzqG1lXLCqSO3lqVyApSMfhHIXpMc6zQTbIDr/R8oGyJs9+\
rHOkGF00RUkq0jwHvjd8NqJRzRpSk5d54On4pGpvq+JumSoOxJ/dWBwl9HwcKrnE8X5EEVf6HMrZ\
kLhANRssmN+t/d/B8KAumvuQThnNVzo7Dk3bmG4S7Rem0PRR
exemd5=0b0bb61fd3b676a4a08a90f71b0018ff

464.h264ref=base=movec-o0=default:
# Last updated Thu Sep  9 22:15:31 2021
optmd5=cfc7beb9766110b8f84099f84682a6cf
baggage=
compile_options=\
@eNq9UbtOwzAU3fMVlneTSq0QIGVI3AIGB1ttMtAlch1TKvmBsMv346QoDahizB08nHOvfB6YlfwO\
pO/OqFSKIIz4FDaVrlWpd29h5462lSp4NF/8AbT+MkhqYfeRWiuthFfp7hCPOwzEQT602d4eb24B\
MtcLgCRADriPcHDWXzmAlhu+wg3mNfiZM9JQHi/Gg9gsvklUi3EGJ1EM+99Y8cR4lcFf8mHCOopX\
pCTbVSTZ7LTN63uaP2wiMnjpCc7WVV4QSqrXMdf7hAklL89T1TCK80LeSJsh8cFtZ4AuJ0v9crT/\
JxgXyrx6bCgpuvC1gSfRrO6qG/X2Dckn5eI=
exemd5=d82bfe0d338d233c9e5890374b8a4e88

433.milc=base=movec-o0=default:
# Last updated Thu Sep  9 22:15:31 2021
optmd5=c2572cf6fc4172d6ff8e5b1687ca84dc
baggage=
compile_options=\
@eNq9UkFrgzAYvfsrgvfUwsrYBh402ppNTTBxsF0kVdcV1Ixp9/v3xTKxo+ywgzkk8N6XfHnvfYQl\
/AE577qtnVINqlWfqnNKXdVOr9+GvT51VVkPPb7Z/AKa5qvFZaO6A1BZ3dSqr539ES4bDMHC/VC5\
h+50d49we7tBuERYI/0xHHXXrzTCgeAhKQjPTTFdAbBNzeYJCQdh6S7zgkImvHgOiWSZADQQsSei\
EYxp+iTQ2Gl6qYg5dJovzNawW6CSENdeRKk9dmP+I+PStS9k2xYzFJc0oa8hkGx9rub5NvZ2ApBJ\
y0j4YUqi4of7p0njS5xl0vNpTOXLvMvomG2ZuqUGYRbMleRw007ZTb4ZAXGwWH7XQ/rbQShIPBmB\
476Jqmnt86dZboZgNgHfHvoJKg==
exemd5=00263fe2adc56cd43307753d7c2dc196

470.lbm=base=movec-o0=default:
# Last updated Thu Sep  9 22:15:31 2021
optmd5=c8f332993b2812c01f8ef754f2d9924d
baggage=
compile_options=\
@eNq9UbtOwzAU3fMVlneTSq0QIGVI3AIGB1ttMtAlch1TKvmBsMv346QoDahizB08nHOvfB6YlfwO\
pO/OqFSKIIz4FDaVrlWpd29h5462lSp4NF/8AbT+MkhqYfeRWiuthFfp7hCPOwzEQT602d4eb24B\
MtcLgCRADriPcHDWXzmAlhu+wg3mNfiZM9JQHi/Gg9gsvklUi3EGJ1EM+99Y8cR4lcFf8mHCOopX\
pCTbVSTZ7LTN63uaP2wiMnjpCc7WVV4QSqrXMdf7hAklL89T1TCK80LeSJsh8cFtZ4AuJ0v9crT/\
JxgXyrx6bCgpuvC1gSfRrO6qG/X2Dckn5eI=
exemd5=e0608e255c4ceb7b3a5049bf7a150c61

482.sphinx3=base=movec-o0=default:
# Last updated Thu Sep  9 22:15:32 2021
optmd5=5aa344930d472f66b91d581e26212584
baggage=
compile_options=\
@eNq9kc1OhDAUhfc8RcO+wyROjJqwgMIM1UKbGTDRTcNPHUkKNVJ8fgtERDMxccNddHHPuW3P/RCN\
2R1wXlUjnDLXeZO/561Tqko4nXrRherbqhS6g1e7Xw0pPxpYyrw9G+kopMg74RS1GR56wBTsdOWe\
2/7mFsDmegdgCaAC6k3Xqu02CsDgxELEEcsGM94sGzCIvMeQI5rs8YFHk4xlXfS6lmCsbzcnzFy/\
LEi35rRMNIRce5V49vga9e8pS137R1bbooPEUhzj59CIdDu5WbYn3uFkOnOWUfDDBEX8S/vPZsZx\
Ro+p52OC06fl1eOabIvg5GEt5AsaF3BB2czA5mUNAUiwGrTLZP7eoDHEXhpxgv2Bj2zs6dM0G8gv\
sH8CT0gDYA==
exemd5=06f0b8292576a213695bd89db4c8808a
401.bzip2=base=wrapper-movec-o0=default:
# Last updated Tue Sep 14 10:58:19 2021
optmd5=32cdd6486fd6eacaac8a36df512cc4bf
baggage=
compile_options=\
@eNqtkEEPgiAYhu/+Csad6NBatXkwskZRsMJDXRpTl24pTm39/ZBc2dY8+R1gfC8fvO9D+F4sAE50\
FuNQ1SpTpcpxqCNz1FmR3uMSPUtVFHGJ231UJcAUqurIveWP2RygbDoBKARIA13Uqc6rkQZodRI+\
uRIRgLa+nSsTZqJbiI/N6hgvhLhwAD/QvsWXWy6kC3/MQYc3kpB0Ty++Efn4fVsEa+ZtTqbzcWoF\
wY/SW1JG5bmr2RTQYfSwGwZhB0UPq2+QxhtbDYTrP5P+6PZ/HjSAO3RfVA2vng==
exemd5=8e28c84138f75d8c14563165602d4e52

429.mcf=base=wrapper-movec-o0=default:
# Last updated Tue Sep 14 10:59:29 2021
optmd5=e23614613f3d828ab275dad5f162548b
baggage=
compile_options=\
@eNqtUcFOhDAQvfMVTe9d9mCMmnCAgm61MM1SYvTSEJa4m1BKAOPvW1gW0Ww8MYc2M29m8t4bCrF4\
QO7R6NIt8j7XeZvXbmEONjW6OVVlS77avGnK1p3+TXdENkjXH7yP+vPuHhF9e4NIgYhBpulPpu42\
BpEwFRFVVGRoip+K4sJOXKqvfiJVKkOqxB4kTGXY2tex5Cj18AoE8bgLgmcQ0sO/2I5QECV0p+gj\
959Si/9lhR0YxoVkMXuPbANszxtFNo9c5I2AgL30A8aZfFtio3TscJa8rOP7wq4rBpNKz/bPegd6\
PFzJ1eu2/K/eNsS+3CnOgsG4SuMzJciG0yzu8g2Cw8SM
exemd5=8345f4a5d5193312ba5e0a38059dfa57

458.sjeng=base=wrapper-movec-o0=default:
# Last updated Tue Sep 14 10:59:30 2021
optmd5=de04d46ea53f199dc76079275135d87c
baggage=
compile_options=\
@eNqtkEEPgiAYhu/+Csad6NBatXkwskZRsMJDXRpTl24pTm39/ZBc2dY8+R1gfC8fvO9D+F4sAE50\
FuNQ1SpTpcpxqCNz1FmR3uMSPUtVFHGJ231UJcAUqurIveWP2RygbDoBKARIA13Uqc6rkQZodRI+\
uRIRgLa+nSsTZqJbiI/N6hgvhLhwAD/QvsWXWy6kC3/MQYc3kpB0Ty++Efn4fVsEa+ZtTqbzcWoF\
wY/SW1JG5bmr2RTQYfSwGwZhB0UPq2+QxhtbDYTrP5P+6PZ/HjSAO3RfVA2vng==
exemd5=b192013990e247f13f975bc8b2542848

462.libquantum=base=wrapper-movec-o0=default:
# Last updated Tue Sep 14 10:59:30 2021
optmd5=3735c6d90ec30c17b16e7c5acad2a71a
baggage=
compile_options=\
@eNqtkcFuwjAMhu88hZV7KAc0bZN6aANs2VoSjVQaXFBUqoHUNFXbaa8/ByoWEONUHxLZzm/9/sJE\
Kp8h2FtTBLnutNGNroLc7jC1pj6URUN/Gl3XRRP097jdAwZtu134VX0/PgE1D1OgOVALtu4OtmrH\
FuhsJedsy2QGffxVtol0Ci/ny+wTvKBigucIvTEWkgH8keMsEb8JqUJyYfbUkuJDRTFPuFpj/8oa\
GQmnloqnfDPHvpj0qmyRRC8rX3Fs/DtNOis4830Y6h6ta7yuXpoz0PO6zl4yGwjqbSz3t8cHaaRe\
kWzswJWGnCyJzP2M9y2/EYbEAQ==
exemd5=0b0bb61fd3b676a4a08a90f71b0018ff

470.lbm=base=wrapper-movec-o0=default:
# Last updated Tue Sep 14 10:59:30 2021
optmd5=344cd2d299f29e799042e113ee143d61
baggage=
compile_options=\
@eNqtkL0OgjAUhXeeoulecTBGTRig/lWLbbQMupAGiZBQSgDj61vQICbGiTu06T33Nud8mPl8AexE\
q9iOZC2VLGVuR/pqnloVaRaX6FHKoohL+32PqgSYQlV9dW75fTYHSE0nAEUAaaCLOtV5NdIALU98\
hUPMA/CuTyek3Gz0C7GxOS3jBWMHDuAHtn8xb8e4cOCXOWixRuKC+OSyMiIbv6Z5sKbu5mQ6ndNW\
4OwoXI9QIs59rU0BLUoO+2EQ9lD8YIUy1dHqsjT26HIgYr+x/E9vBnxXbENKvAZcpuDLEgsa7D3m\
T7xttZI=
exemd5=e0608e255c4ceb7b3a5049bf7a150c61

