monitor_wrapper =   $command
monitor_specrun_wrapper =   $command
ignore_errors = yes
tune          = base
ext           = softboundcets-o0
output_format = asc
reportable    = 1
teeout        = yes
teerunout     = yes
strict_rundir_verify = 0
makeflags = -j4

default=default=default=default:
CC  = ${HOME}/code/softboundcets-34/softboundcets-llvm-clang34/Release/bin/clang    -std=gnu89 -m64 -fsoftboundcets -fno-vectorize
CXX = ${HOME}/code/softboundcets-34/softboundcets-llvm-clang34/Release/bin/clang++  -m64
EXTRA_LIBS = -L${HOME}/code/softboundcets-34/softboundcets-lib -lm -lrt
FC         = echo

default=base=default=default:
COPTIMIZE   = -O0
CXXOPTIMIZE = -O0

default=base=default=default:
PORTABILITY = -DSPEC_CPU_LP64

400.perlbench=default=default=default:
CPORTABILITY= -DSPEC_CPU_LINUX_X64

462.libquantum=default=default=default:
CPORTABILITY= -DSPEC_CPU_LINUX

483.xalancbmk=default=default=default:
CXXPORTABILITY= -DSPEC_CPU_LINUX -include string.h

447.dealII=default=default=default:
CXXPORTABILITY= -include cstring -include cstdlib -include cstddef

__MD5__
400.perlbench=base=softboundcets-o0=default:
# Last updated Wed Sep  8 15:12:33 2021
optmd5=24a886ed3cdcac2a213e3591a5af4ef7
baggage=
compile_options=\
@eNrFUl1PgzAUfd+vaHivLHExasIDFHRoWRsGCfpCyscmSUvN6Pz9tqCELdMHfaAPTbin5xzuPReR\
iN4D+02K2i6ZYoIdWGuXsqrtTu5UIY9tVdaqg9erswLnHwKWnLV7DcU1r1lX20WjyaYG9IGdqpx9\
e7y9A1DcrADcnSgAWAIogXxXjWy7Kwmgv6UByhFNDdmnQYxzROIA9GIjmGNqxCbf4SbN8kwXJweS\
pb4XujmEHGuWBq3enXhPhCaOddLtAFESJ64X4jB50fiFhqwFMQo0CaPwNdBvyPKLmT5g93E7ZfWA\
F2zQOh+xcYQ9+KMdNU7a9HmuTZhEdp6zqXNhbvynf2uKng/5QQ0mYwZmJNifbTcuJ/t7RvpB5CZr\
vSCeyZeLXibIktj9rv17StYwF5KanZ0s7Cfmc06a
exemd5=be172297a8e117d1c1da293345f6d993

401.bzip2=base=softboundcets-o0=default:
# Last updated Fri Mar  4 22:11:01 2022
optmd5=f4be6da9b8c06a0b1e17ea8debd56a11
baggage=
compile_options=\
@eNrNUsFOhDAQvfMVTe8jm7gxasIBWDTVrm1YSNQLKaW7kgA10N2DX28Bs7Jm40EvTNImndeZzHtv\
Qrbmt8h907VypTCiFq1oXKkL5XZ6a3K9bwqpTAeXyx+JqjrUICvR7CwUq0qJTrl5aYv7HLIBnSm8\
XbO/vkFQXy0RbE862Hej4aCk0W35oRBIBBrpd1PqprvQCFYbHoVZyFP0Fd+ZjHLbcBrAFvZ2LJkw\
9PAcCOFhGBY8MJ54+IQddlgP8YSsyWtkQbYYf/P0jvr3G5s5Uh0AzuLEDwglycsUG2TADiVPjzMx\
cWLGebeA/mnOMkdQ1fa0Zmxz1LKXh67mYvl5X3+3z9ZEz0nsZ5QEvfX/VgiPmrC037vJ0n0C08BD\
nA==
exemd5=7868d23c1d8dcbecef93df3dc827604e

458.sjeng=base=softboundcets-o0=default:
# Last updated Fri Mar  4 22:11:04 2022
optmd5=8ac7349dfc88561da5400dbecc1ab705
baggage=
compile_options=\
@eNrNUsFOhDAQvfMVTe8jm7gxasIBWDTVrm1YSNQLKaW7kgA10N2DX28Bs7Jm40EvTNImndeZzHtv\
Qrbmt8h907VypTCiFq1oXKkL5XZ6a3K9bwqpTAeXyx+JqjrUICvR7CwUq0qJTrl5aYv7HLIBnSm8\
XbO/vkFQXy0RbE862Hej4aCk0W35oRBIBBrpd1PqprvQCFYbHoVZyFP0Fd+ZjHLbcBrAFvZ2LJkw\
9PAcCOFhGBY8MJ54+IQddlgP8YSsyWtkQbYYf/P0jvr3G5s5Uh0AzuLEDwglycsUG2TADiVPjzMx\
cWLGebeA/mnOMkdQ1fa0Zmxz1LKXh67mYvl5X3+3z9ZEz0nsZ5QEvfX/VgiPmrC037vJ0n0C08BD\
nA==
exemd5=aadd469bb02d48619b5008b67f658a91

462.libquantum=base=softboundcets-o0=default:
# Last updated Fri Mar  4 22:11:05 2022
optmd5=980e6bde64c6ea30c9d700fd0ce0a119
baggage=
compile_options=\
@eNrNUs9PgzAYvfNXNL1XlrgYNeEADBUF22yQTC9LgW6S9IeBbgf/eluYyoh60AvfoUnf43v0e+8L\
cUqugfuiBHNLqqmgDZVuqSrmtmqrC7WXVcl0i87nI4Dzg0Alp3JnqCXjjLbMLWrTbDFgCrW68nZy\
f3kFkLiYA7Q9UTB3qdCBlVo19RsDqARIAfWqayXbMwXQYkWicBOSHBzrC9kkxAoO7vFjvgaDQnhm\
TscMF4YenMKAsHsMDu4xyTx4Mm1PEbzM/CBO4uzJ8KPZoINtN8niNH6ODI9nx678JvFvV8OOjvhR\
zTgHHaP5MJHcB3mNA7Y4F/ZM/vTUuuj6EW90/5NPx61DyWIqi/F9tL8naD5I/ezObEdgw+eik4nW\
2dL/wP5tGuxtwrld2MG2vgO5PFf/
exemd5=27c3156c2f7cfdfa0453deda8d8463ca

464.h264ref=base=softboundcets-o0=default:
# Last updated Fri Mar  4 22:11:06 2022
optmd5=bbddefba14c495ab908dfa131680ffc9
baggage=
compile_options=\
@eNrNUsFOhDAQvfMVTe+VTdwYNeEALCpabMNCol5Ige5K0lID3T349bagK2s2HvTCHCbpe51p570J\
SUKvgfuqJHcrpplkHWvdStXc7dVGl2rX1hXXPTpf/gCE2EtUCdZuDZVywVnP3bIxxRYDJlCva2/b\
7i6vAJIXS4A2Rx3MuVVozyutuuadA1QBpIB6041q+zMF0GpNo7AIaQ4+4xspMDUNp4HIwmTHDBOG\
HpzDQHD4DAnuCc08eDQddIilaBYn8UtkSLIYb9P8Bvu3a4McRh0IStLMD2IcZ89TbpABOjh+fJiJ\
iRMzTriFhLQZ/+mrTTnUI9Hp8ZGDnFYhvJqL66et/d1BcyHxs7sCx4E1X8ihTfSUpf4X9m/R4CgT\
ye02TlbxA2iESZA=
exemd5=ae875709bafdd77e26e2f30700d77d25

470.lbm=base=softboundcets-o0=default:
# Last updated Fri Mar  4 22:11:07 2022
optmd5=2688340b46f74e43fff41844a5f0683e
baggage=
compile_options=\
@eNrNUsFOhDAQvfMVTe+VTdwYNeEALCpabMNCol5Ige5K0lID3T349bagK2s2HvTCHCbpe51p570J\
SUKvgfuqJHcrpplkHWvdStXc7dVGl2rX1hXXPTpf/gCE2EtUCdZuDZVywVnP3bIxxRYDJlCva2/b\
7i6vAJIXS4A2Rx3MuVVozyutuuadA1QBpIB6041q+zMF0GpNo7AIaQ4+4xspMDUNp4HIwmTHDBOG\
HpzDQHD4DAnuCc08eDQddIilaBYn8UtkSLIYb9P8Bvu3a4McRh0IStLMD2IcZ89TbpABOjh+fJiJ\
iRMzTriFhLQZ/+mrTTnUI9Hp8ZGDnFYhvJqL66et/d1BcyHxs7sCx4E1X8ihTfSUpf4X9m/R4CgT\
ye02TlbxA2iESZA=
exemd5=f17852f425beaae55c0db962e838a77f

482.sphinx3=base=softboundcets-o0=default:
# Last updated Fri Mar  4 22:11:08 2022
optmd5=0fb8228a0b4d3163301f1e268009db5d
baggage=
compile_options=\
@eNrNUkFPwjAUvvMrmt0fM5EYNeGwlcGqhTYwjHpZtlFwSbcaVjj46227gMMQE/XCOzTp97332ve9\
D7Mpv0f+m6qEX2Q6q7JtVvuFWgm/UWudq129KoRu4HrwDZByX0Ehs3pjqLmQImuEn5em2GLIBDR6\
NdzUu9s7BNXNAMH6pIO51wr2otBqW34IBAUChdS7LlXd9BWC0YJHOMV8aXuRfheAURw8RSlmszGZ\
pHFLE1nmO11K5OIrO6XcvN4NYFfm7JnJMR56lzC95z7DwgfGk6F3IoXXY5biCZmS18iQ7KrN5ssx\
DSYLgxxHdUQYzXCcHrjfCOfKOZsnQUgoSV66rZ2KXo+S2eOFGKazyzPLBlnZk/7pq2Xu6kFudfvI\
cRtWITq6FNOcd8bPGzQJ0yCJU0pC6w9ZuTbRczIPDti/RfNamdjSmrnj5E+aBGb/
exemd5=e776b09f30b7e6f014218a081e7c01e7

429.mcf=base=softboundcets-o0=default:
# Last updated Fri Apr  8 11:14:37 2022
optmd5=dfbd5edb2e6dbebff4a6fbbc48406a3a
baggage=
compile_options=\
@eNrNUj1vwjAQ3fkVlnc3SEVVWylDYtKS1mArMerHEiXG0EhOXBHD0F9fOxAKCHVol9xgye/dnX3v\
HaZTdg+8D11JT+Qmr/J1XntCL6TX6KUp9KZeCGkadD06A5TaVkiovF5ZKpFK5o30itIWOwzYQI1Z\
+Kt6c3sHUHUzAmh50sHea422Uhi9Lr8kQAIgDfSnKXXdXGmAximLcIbZHOzjB8kIsw079CWY8Szl\
Y5yxhHK6h+nQngM7HcY+7MOEsP0MDZ8o4z48GbelwmiGJxl+IMFjavnzseCAunLG42n8HtkEOtx1\
ZPNDSadPSzCa8CCMSczfjrlWOzgg8ey5J84fGXbBYqQqd5I/fbUs2nqk1mb3yEFypxAZ92UzLlv7\
u4M2YRrwSUbi0JmvqrZN9MqToMP+LRrcyUTnbmOP1vUbIFNYig==
exemd5=ec6554e91ef46271ed74ef5558254dfb

445.gobmk=base=softboundcets-o0=default:
# Last updated Fri Apr  8 11:14:39 2022
optmd5=100a15d6f2d074eb02a10a057e1751ec
baggage=
compile_options=\
@eNrNUtFqwyAUfe9XSN5tBitjG/QhsWnjZqu06dj2ElJju4DR0dg+7OunhoV0lMG2lwpe9B49Xs89\
iM7ZPQjfdC1CXpiiLvaFCrkuRdjordnogyq5MA28Hn1LSHmsIZeF2lloKaQoGhFuKnvZ5YAdsDHl\
eKcOt3cA1jcjALcnDHavNDwKbvS++hAAcgA10O+m0qoZagAnK5agHLG145qk0VOSI7qY4lmeAoiH\
brYhrBSXh1K4Tbf2FXQUOWG2gv6A9MrGgf09QuPgEhQIfDE0fqAsGwcncgQD6iCW4Tl+TSxIr9rT\
bD0l0WxlM91XPRAnC5TmHfZL8TwFo8ssijHB2Uuf3isZDAhePF6IcXr9PNNwKGsXyZ9KrTb+PpR7\
0z7SdcQpRCaXYpzz7vi5g/bAPMrSnODYeUTWniZ5zpbRV+7fogWtTHTtDN1z8ydoamm3
exemd5=3b9a3f59a2fcc12c914393e01ab3468e

456.hmmer=base=softboundcets-o0=default:
# Last updated Fri Apr  8 11:14:40 2022
optmd5=ec9527c7f1c1289013eff14722130285
baggage=
compile_options=\
@eNrNUsFOhDAQvfMVTe+VTdwYNeEALCpabMNCol5Ige5K0lID3T349bagK2s2HvTCHCbpe51p570J\
SUKvgfuqJHcrpplkHWvdStXc7dVGl2rX1hXXPTpf/gCE2EtUCdZuDZVywVnP3bIxxRYDJlCva2/b\
7i6vAJIXS4A2Rx3MuVVozyutuuadA1QBpIB6041q+zMF0GpNo7AIaQ4+4xspMDUNp4HIwmTHDBOG\
HpzDQHD4DAnuCc08eDQddIilaBYn8UtkSLIYb9P8Bvu3a4McRh0IStLMD2IcZ89TbpABOjh+fJiJ\
iRMzTriFhLQZ/+mrTTnUI9Hp8ZGDnFYhvJqL66et/d1BcyHxs7sCx4E1X8ihTfSUpf4X9m/R4CgT\
ye02TlbxA2iESZA=
exemd5=32e15bd4fbff5af40a9638e727680448

433.milc=base=softboundcets-o0=default:
# Last updated Fri Apr  8 14:51:23 2022
optmd5=446625b4552cd7c865abf73330364faf
baggage=
compile_options=\
@eNrNUkFvwiAUvvsrSO9Yk5llW+KhpVW70UIKLtsuTa3omtCyWPSwXz/AaOpidnAXOTzC9x4fj+99\
iKT0CfifqhF+VeqyKbdl61dqJfxOrfVS7dpVJXQH78a/ACn3Daxk2W5MKhdSlJ3wl7W5bDFgFuz0\
arJpdw+PADb3YwDXZwzm3Cq4F5VW2/pbAFgBqID60rVqu6ECMGI0RgWiC8uVDA0wzWwIGDcbItks\
D6KCp7R4jREnOTNoxHDA5g7ESfbCgGvkxFRgahrpL0hGJg6MCAhNvFsQwnPNkPCZUD7xzlTxBsSm\
KE/S5CM2STI6VNPFFAczZpDTV10ijDM0L465KzV0TJTkPAgTnPD3/itOUG9g627ERr2xXpg7lI2N\
+KpW66W7D+VWHx45DcYqhKNb8c9lk/w9QVOQBnxuJh5aq8jG0cRvPA+O2L9F8w4ykYX1dc/UPw7m\
bMk=
exemd5=79bb90d782435dfb37038f1e8d71f34d

